html{
    font-family: 'Noto Sans KR', sans-serif;
}
/* .wrap{margin: 0 auto;} */
.innerFrame{
    width: 1440px;
    margin: 0 auto;
}
.ptColor{
    color: #FF6B00;
}

header{
    height: 100px;
    padding: 10px 0;
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 50;

}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.gnbBtn{
    height: 100%;
    width: 140px;
}
.gnbBtn>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}
.gnbBtn b{
    margin-left: 10px;
    font-weight: bold;
}
.gnb_hidden{
    width: 75%;
    height: 720px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease 0s;
    position: absolute;
    top:0;
    right: 0;
}
.gnb_hidden.active{
    background: white;
    opacity: 1;
    pointer-events: auto;
}
.gnb_hidden.active li>a:hover{
    color: #FF6B00;
    fill: #FF6B00;
    font-weight: bold;
}
.gnb_hiddenTop{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #D9D9D9;
}
.gnb_hiddenTop>li{
    padding: 20px 30px;
    box-sizing: border-box;
    font-weight: bold;
}
.gnb_hiddenTop a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.gnb_hiddenTop>.gnbBtn_close{
    margin-left: 20px;
    padding-right: 20px;
    width: 140px;
}
.gnbBtn_close>a{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game_menuAll{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    box-sizing: border-box;
}


.game_menuAll>li>a{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: bold;
    height: 30px;
}
.game_menuAll ul{
    font-size: 16px;
}

.game_menuAll ul>li{
    padding: 5px 0;
}
.webgame{
    height: 100%;
}
.webgame>ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 470px;
}
.webgame>ul>li{
    padding-right: 20px;
}


.banner{
    width: 100%;
   height: 730px; 
   position: relative;
   overflow: hidden;
}
.banner_imgList{
    width: 300%;
    height: 100%;
    display: flex;
}
.banner_imgList>li:first-of-type{
    background: url(../img/banner_ex.jpg) no-repeat 0 0 / cover;
}
.banner_imgList>li{
    flex: 1;
}
.banner_desList{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    height: 50px;
    color: white;
    display: flex;
    transform: translateX(-50%);
}
.banner_desList>li{
    flex:1;

}


footer{
    background: #222426;
    color: white;
    padding: 20px 0;
}
.foot_notice{
    padding: 25px 0;
    border-bottom: 1px solid #424242;
    margin-bottom: 20px;
}
.foot_info{
    display: flex;
    justify-content: space-between;
}
.foot_infoLeft{
    width: 80%;
}
.nav_info{
    display: flex;
    margin-bottom: 20px;
}
.nav_info>li{
    margin-right: 20px;
}
.corp_info{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.corp_info>span{
    margin-right: 20px;
}
.copy{
    margin-bottom: 20px;
  
}

.foot_mark{
    display: flex;
}
.foot_mark>li{
    margin-right: 10px;
}
.foot_mark>li:last-of-type{
    margin-right: 0;
}