.notoSans{
    font-family: 'Noto Sans KR', sans-serif;
}
.gmarketSansM{
    font-family: 'GmarketSansMedium';
}
.innerFrame{
    width: 1440px;
    margin: 0 auto;
}
.ptColor{
    color: #FF6B00;
}
header{
    height: 100px;
    padding: 10px 0;
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 50;

}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.gnbBtn{
    height: 100%;
    width: 140px;
}
.gnbBtn>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}
.gnbBtn b{
    margin-left: 10px;
    font-weight: bold;
}
.gnb_hidden{
    width: 75%;
    height: 720px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease 0s;
    position: absolute;
    top:0;
    right: 0;
}
.gnb_hidden.active{
    background: white;
    opacity: 1;
    pointer-events: auto;
}
.gnb_hidden.active li>a:hover{
    color: #FF6B00;
    fill: #FF6B00;
    font-weight: bold;
}
.gnb_hiddenTop{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #D9D9D9;
}
.gnb_hiddenTop>li{
    padding: 20px 30px;
    box-sizing: border-box;
    font-weight: bold;
}
.gnb_hiddenTop a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.gnb_hiddenTop>.gnbBtn_close{
    padding-right: 20px;
    width: 142px;
}
.gnbBtn_close>a{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gnbBtn_close>A>b{
    margin-left: 10px;
}

.game_menuAll{
    width: 100%;
    display: flex;
    padding: 30px 90px;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: calc(100% - 100px);
}
.game_menuAll>li>ul{
    padding-bottom: 40px;
}
.game_menuAll>li>a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    height: 30px;
}
.game_menuAll ul{
    font-size: 16px;
}

.game_menuAll ul>li{
    padding: 5px 0;
}
.webgame{
    height: 100%;
}
.webgame>ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 470px;
}
.webgame>ul>li{
    padding-right: 20px;
}


.banner{
    width: 100%;
   height: 730px; 

   position: relative;

   overflow: hidden;
}
.banner_imgList{
    height: 100%;
    display: flex;
}
.banner_imgList>li:nth-of-type(1){
    background: url(../img/banner1_bg.jpg) no-repeat 50% 50% / cover
}
.banner_imgList>li:nth-of-type(2){
    background: url(../img/banner2_bg.jpg) no-repeat 50% 50% / cover
}.banner_imgList>li:nth-of-type(3){
    background: url(../img/banner_ex.jpg) no-repeat 50% 50% / cover
}
.banner_imgList>li{
    width: 100%;
    height: 100%;
    flex: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.8s ease 0s;
}
.banner_imgList>li>div{
    position: relative;
    height: 100%;
}
.banner1>div>a{
    position: absolute;
    top:25% ;
    left: 50px;
}
.banner1{
    color: white;
}
.banner1 a>span{
    font-size: 40px;
    display:block;
    margin-bottom: 30px;
}
.banner1 a>h4{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 140px;
}
.banner1 a>p{
    font-size: 27px;

}

.banner2>div>a{
    position: absolute;
    top: 20% ;
    right: 50px ;
    text-align: right;
}
.banner2 a>span{
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 35px;
}
.banner2 a>h4{
    font-family: 'SangSangRock';
    font-size: 105px;
    color: rgba(0, 0, 0, 0.71);
    text-align: right;
    margin-bottom: 60px;
}
.banner2 a>h4>b{
    font-family: 'SangSangRock';
    font-size: 115px;
    color: rgba(8, 38, 101, 0.92);
}
.banner2 a>p{
    font-size: 27px;
    font-weight: bold;
}


.banner_imgList>li.on{
    opacity: 1;
    pointer-events: auto;
}
.banner_desList{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    color: white;
    display: flex;
    transform: translateX(-50%);
}
.banner_desList>li{
    flex:1;
    background: rgba(0,0,0,0.6);
    opacity: 0.6;
    height: 100px;
    box-sizing: border-box;
    position: relative;
}
.banner_desList>li a{
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding-left: 30px;
    height: 100%;
}
.banner_desList>li.on{
    background: rgba(8,36,110,0.7);
    opacity: 1;
}
.banner_desList h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.banner_desList p{
    font-size: 30px;
    font-weight: bold;
}




footer{
    background: #222426;
    color: white;
    padding-bottom: 50px;
}
.foot_notice{
    padding: 30px 20px;
    border-bottom: 1px solid #424242;
    margin-bottom: 25px;
    font-size: 18px;
}
.foot_notice b{
    margin-right: 15px;
}
.foot_info{
    display: flex;
    justify-content: space-between;
}
.foot_infoLeft{
    width: 70%;
    font-size: 15px;
}
.nav_info>li:hover{
    color: #FF6B00;
    text-decoration: underline;
}
.nav_info{
    display: flex;
    margin-bottom: 25px;
}
.nav_info>li{
    margin-right: 15px;
}
.nav_info>li::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    margin-left: 15px;
    background: white;
}
.nav_info>li:last-of-type:after{
    display: none;
}
.corp_info{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    line-height: 2;
    font-weight: lighter;
}
.corp_info>span{
    margin-right: 20px;
}
.link_underline{
    text-decoration: underline;
}
.copy{
    margin-bottom: 35px;
}

.foot_mark{
    display: flex;
}
.foot_mark>li{
    margin-right: 10px;
}
.foot_mark>li:last-of-type{
    margin-right: 0;
}
